:root {
    /* backgourd color active to create anything above background  */
  --bg-primary-color: rgb(20, 20, 20);
  --bg-secondary-color: rgb(34, 34, 34);
  --bg-active-color: rgb(230, 223, 223);
  --bg-danger-color: rgb(255, 63, 63);
  --bg-success-color: rgb(67, 136, 28);

  /* text-color */
  --text-primary-color:rgb(225, 225, 225);
  --text-secondary-color:rgb(194, 191, 191);
  --text-tertiary-color:rgb(147, 147, 147);
  --text-active-color:rgb(29, 29, 29);
  /* padding */
  --padding-sm: 0.5rem;
  --padding-md: 1rem;
  --padding-lg: 1.5rem;
  --padding-xl: 2rem;
  --padding-2xl: 2.5rem;

  /* gutter  element ke beech ka space */
  --gutter-sm: 0.5rem;
  --gutter-md: 1rem;
  --gutter-lg: 1.5rem;
  --gutter-xl: 2rem;
  --gutter-2xl: 2.5rem;
  /* margin */
  --gutter-sm: 0.5rem;
  --gutter-md: 1rem;
  --gutter-lg: 1.5rem;
  --gutter-xl: 2rem;
  --gutter-2xl: 2.5rem;
  /* margin */
  --margin-sm: 0.5rem;
  --margin-md: 1rem;
  --margin-lg: 1.5rem;
  --margin-xl: 2rem;
  --margin-2xl: 2.5rem;
  /* font-size */
  --font-size-sm: 0.4rem;
  --font-size-md: .8rem;
  --font-size-lg: 1rem;
  --font-size-xl: 1.2rem;
  --font-size-2xl: 1.5rem;
  /* border-radius */
  --border-radius-sm: .2rem;
  --border-radius-md: .3rem;
  --border-radius-lg: .5rem;
  --border-radius-xl: .6rem;
  --border-radius-2xl: .75rem;
}
